.chip {
  background-color: black;
  color: #ffffff;
  border-radius: 18px;
  padding: 5px 12px;
  margin: 5px;
  cursor: pointer;
}

.close {
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 0 6px;
  background-color: black;
  color: #ffffff;
}
